*{
    margin: 0;
    padding: 0;
}
#marker {
    position: absolute;
    background-image: url('url.png');
    width: 10px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#marker:hover {
    background-color: rgba(0, 0, 0, .5);
}

#marker:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: ' ';
}
#nm{
    letter-spacing: 3px;
}
@media (max-width: 400px){
    #map{
        width: 100vw;
        height: 87vh;
    }
    .navbar{
        height: 55px;
    }
}
.navbar{
    height: 40px;
    width: 100vw;
}
#map {
    width: 100vw;
    height: 86.1vh;
    position: relative;
}
.country{
    position: absolute;
    background-color :#343a40;
    width: 100vw;
    height: 7vh;
    
}
.country a{
    text-decoration: none;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: relative;
    top: 8px;
    left: 8px;
    letter-spacing: 1px;
}